<div class="container mt-5">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="email" name="email" required type="email">
    </div>

    <div class="mb-3">
      <label>Contraseña</label>
      <input class="form-control" [(ngModel)]="password" name="password" required type="password">
    </div>

    <button class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar sesión</button>
    <p class="mt-2 text-danger" *ngIf="mensaje">{{ mensaje }}</p>
  </form>
</div>
